* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #e5ea97;
  color: rgb(33, 4, 4);
  padding: 2em;
  justify-content: space-evenly;
}

.red {
  background-color: #f22121;
  color: white;
}

.blue {
  background-color: #275db3;
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.home {
  background-color: rgb(208, 218, 177);
  color: white;
}
